<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Framework>
    <add key="zhang" value="san"/>
  </Framework>
  <Local>
    <add key="Timeout" value="86400" />
  </Local>
  <Redis>
    <add key="ServerList" value="" />
    <add key="userName" value="" />
    <add key="password" value="" />
    <add key="Timeout" value="86400" />
  </Redis>
</configuration>