/Jiesen.ConsoleApp/.vs/Jiesen.ConsoleApp/v15/.suo
/Jiesen.ConsoleApp/.vs/Jiesen.ConsoleApp/v15/Server/sqlite3/db.lock
/Jiesen.ConsoleApp/.vs/Jiesen.ConsoleApp/v15/Server/sqlite3/storage.ide
/Jiesen.ConsoleApp/.vs/Jiesen.ConsoleApp/v15/Server/sqlite3/storage.ide-shm
/Jiesen.ConsoleApp/.vs/Jiesen.ConsoleApp/v15/Server/sqlite3/storage.ide-wal
/Jiesen.ConsoleApp/Jiesen.ConsoleApp/obj/Debug
/Component/Jiesen.Component.Contract/obj/Debug
/Component/Jiesen.Component.Contract/bin/Debug
/Component/Jiesen.Component.Service/obj/Debug
/Component/Jiesen.Component.Service/bin/Debug
/Jiesen.Auth/obj/Debug
/Jiesen.Auth/bin/Debug
/Jiesen.Caching/obj/Debug
/Jiesen.Caching/bin/Debug
/.vs/Jiesen.CodeFramework/v15
/Jiesen.ConsoleApp/obj/Debug
/Jiesen.ConsoleApp/bin/Debug
/Jiesen.EntityFramework/obj/Debug
/Jiesen.EntityFramework/bin/Debug
/Jiesen.Framework/obj/Debug
/Jiesen.Framework/bin/Debug
/Jiesen.Contract/obj/Debug
/Jiesen.Contract/bin/Debug
/Jiesen.Dapper/obj/Debug
/packages/EntityFramework.6.2.0
/packages
