<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Local>
    <add key="Timeout" value="86400" />
  </Local>
  <Redis>
    <add key="ServerList" value="" />
    <add key="userName" value="" />
    <add key="password" value="" />
    <add key="Timeout" value="86400" />
  </Redis>

  <Servers>
    <add key="AppId" value="123456" />
    <add key="AppKey" value="123456" />
    <add key="AppSecret" value="123456" />
    <add key="AppName" value="123456" />
    <add key="AppCode" value="123456" />
    <add key="AppDomain" value="123456" />
  </Servers>
</configuration>