<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Local>
    <add key="Timeout" value="86400" />
  </Local>
  <Redis>
    <add key="ServerList" value="59.110.216.148:6380" />
    <add key="UserName" value="" />
    <add key="Password" value="123456" />
    <add key="Timeout" value="3600" />
    <add key="Version" value="3.2.0" />
    <add key="DefaultDb" value="1" />
  </Redis>
</configuration>