<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Redis>
    <add key ="ServerList" value="59.110.216.148:6380"/>
    <add key ="KeepAlive" value="180"/>
    <add key ="Password" value="123456"/>
    <add key ="Version" value="3.2.100"/>
    <add key ="ReConnectTimes" value="10"/>
    <add key ="ConnectTimeout" value="1000"/>
    <add key ="ResponseTimeout" value="1000"/>
    <add key ="DefaultDb" value="2"/>
    <add key ="Timeout" value="3600"/>
  </Redis>
</configuration>